:root {
  --blue-1: #bbcae5;
  --blue-2: #718ccf;
  --blue-3: #4a67be;
  --blue-4: #304dab;
  --blue-5: #071b91;

  --yellow: yellow;
  --yellow-rgb: 255, 255, 0;
  --white-color: #ffffff;
  --dark-color: #616161;
  --about-bg-color: #f9f9f9;
  --header-background: rgba(48, 77, 171, 0.8);
  --product-background: rgba(74, 103, 190, 0.5);
  --form-background: rgba(74, 103, 190, 0.9);
  --form-control-background: rgba(48, 77, 171, 0.8);

  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;

  --base-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 15px;

  --border-radius-large: 100%;
  --border-radius-small: 2px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--base-font-family);
  background: var(--blue-3);
  color: var(--blue-1);
  border-radius: 5px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero img {
  position: relative;
  width: 100%;
  bottom: 10%;
  z-index: -5;
  filter: brightness(80%);
  opacity: 0.6;
}

.hero-text {
  color: var(--blue-1);
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 60%;
  left: 0;
}

.hero-text h1 {
  font-size: 40px;
  letter-spacing: 5px;
}

.hero-contacts {
  background-color: var(--form-control-background);
  margin: 150px auto 0px auto;
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
}

.hero-contacts a {
  color: var(--yellow);
  padding: 10px 40px 10px 40px;
  transition: transform 0.25s ease-out;
}

.hero-contacts a:hover {
  transform: scale(1.5);
}

.action-call {
  margin-top: 40px;
}

.action-call a {
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--blue-5);
  transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
  box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(var(--yellow-rgb), 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0);
  }
}

.action-call a:hover {
  background-color: var(--blue-5);
  font-size: 17px;
  color: var(--yellow);
}

.action-call a:active {
  background-color: var(--yellow);
  color: var(--blue-5);
}
/* NAVBAR */

.header {
  z-index: 5;
  grid-area: header;
  background-color: var(--header-background);
}

.sidenav {
  background-color: var(--header-background) !important;
  padding: 25px 10px 10px 10px !important;
}

.sidenav .brand-logo {
  font-size: 25px !important;
  letter-spacing: 5px;
  font-family: var(--base-font-family);
  color: var(--blue-1);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.header .brand-logo {
  font-size: 25px;
  letter-spacing: 5px;
  font-family: var(--base-font-family);
  color: var(--blue-1);
  padding-left: 10px;
  padding-right: 10px;
  transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.brand-logo:hover {
  color: var(--yellow);
  font-size: 25px;
  cursor: pointer;
}

.brand-logo:active {
  color: var(--blue-5);
  cursor: pointer;
}

ul#nav-mobile {
  border-style: none;
}

a#nav-link {
  color: var(--blue-1);
  transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
  font-size: 16px;
  text-transform: uppercase;
}

a#nav-link:hover {
  color: var(--blue-5);
  font-size: 20px;
  background-color: var(--yellow);
}

a#nav-link:active {
  cursor: pointer;
}

/* CONTENT */

.container {
  clear: both;
  overflow: auto;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'middle middle middle middle middle middle'
    'page-footer page-footer page-footer page-footer page-footer page-footer';
}

h2 {
  letter-spacing: 4px;
  text-align: center;
  justify-content: center;
  font-family: var(--base-font-family);
  font-size: medium;
}

.left,
.middle,
.right {
  border-style: solid;
  border-width: 0.1px;
  text-align: center;
  border-color: var(--blue-2);
  min-height: 250px;
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
  background-color: var(--blue-4);
  opacity: 0.8;
  background-image: radial-gradient(var(--blue-1) 0.5px, var(--blue-4) 0.5px);
  background-size: 10px 10px;
  min-block-size: 85vh;
}

.middle h2 {
  font-size: 20px;
}

.right {
  grid-area: right;
}

footer {
  border-style: solid;
  border-width: 0.1px;
  border-color: var(--blue-2);
  color: var(--blue-1) !important;
  background-color: var(--header-background) !important;
  grid-area: page-footer;
}

footer a {
  color: var(--yellow) !important;
  padding: 5px 10px 5px 10px;
}

.footer-copyright {
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.footer-contacts {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  font-size: 20px;
}

/* PRODUCTS */

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: var(--form-control-background);
  flex: 1 16%;
  padding: 30px 10px 15px 10px;
  margin: 25px;
  border-style: solid;
  border-color: var(--blue-2);
  border-width: 0.5px;
  border-radius: 10px;
  width: max-content;
  transition: all 0.25s ease-out;
  box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 1);
  transform: scale(1);
}

.product-card .opened {
  width: 900px !important;
  height: 900px !important;
  z-index: 10;
}

.product-card:hover {
  border: 3px solid rgba(var(--yellow-rgb), 0.8);
  animation: shadow-pulse 2s infinite;
}

.product-card:hover > .product-info > div > #product-btn {
  animation: pulse 2s infinite;
}

@keyframes small-pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(var(--yellow-rgb), 0);
  }

  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0);
  }
}

.product-card img {
  max-block-size: 300px;
  border-radius: 10px;
}

.product-info {
  margin-top: auto;
}

.product-info h6 {
  color: var(--yellow);
}

.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

.product-info a {
  margin-top: 10px;
  background-color: var(--yellow);
  color: var(--blue-5);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out,
    font-size 0.25s ease-in-out;
  border-radius: 5px;
}

.product-info a:hover {
  background-color: var(--blue-5);
  color: var(--yellow);
  font-size: 25px;
}

.product-info a:active {
  background-color: var(--yellow);
  color: var(--blue-5);
  font-size: 12px;
}

/* ABOUT */
.about {
  padding: 15px;
}
.about .container {
  width: 50%;
  padding: 20px;
  border-style: solid;
  border-color: var(--blue-3);
  background-color: var(--form-control-background);
  border-radius: 5px;
}

.about img {
  border-radius: 100%;
}

.social-icons {
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  padding: 5px;
  color: var(--yellow);
  size: fit-content;
  text-decoration: none;
  border-radius: 10%;
}

/* Contact form */

.contact {
  background-color: var(--form-control-background);
  display: flex;
  position: fixed;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--blue-3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact .container {
  display: flex;
  flex-direction: row;
}

.contact iframe {
  border-radius: 10px;
  border-style: none;
  min-height: 300px;
  width: 50%;
  height: 85%;
  align-self: center;
  filter: sepia(80%) contrast(90%) invert();
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 70%;
  margin: auto;
}

.contact h2 + p {
  font-size: 50px;
  max-width: 90%;
}

.form-control {
  border-radius: 5px;
  border-color: var(--blue-2);
  border-style: solid;
  color: var(--white-color);
  background-color: var(--form-control-background);
  min-height: 40px;
}

.form-control::placeholder {
  color: var(--blue-1);
}

.form-control#name,
.form-control#email {
  border-radius: 5px;
  background-color: var(--form-control-background);
  padding: 5px;
  width: 96.5%;
  color: var(--white-color);
  border-style: solid;
  border-color: var(--blue-2);
  border-width: 1px;
}

.form-control#message {
  padding: 10px;
  border-style: solid;
  border-color: var(--blue-2);
  border-width: 1px;
  height: 300px;
}
button#submit-button {
  background: var(--yellow);
  border-radius: 5px;
  padding: 7px 12px;

  text-decoration: none;
  color: var(--blue-5);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
  border-color: transparent;
  cursor: pointer;
}

button#submit-button:hover {
  background: var(--blue-5);
  border-color: transparent;
  color: var(--yellow);
}

/* BLOG */
.blog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;

  background-color: var(--form-background);
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.blog-card {
  margin: 10px;
  flex: 1 12%;
  border-style: solid;
  background-color: var(--form-control-background);
  border-color: var(--blue-2);
  border-width: 1px;
  border-radius: 5px;
  min-block-size: 250px;
  max-block-size: 700px;
  box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 1);
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.25s ease-out;
}
.blog-card:hover {
  animation: shadow-pulse 2s infinite;
}

.blog-card-content {
  cursor: pointer;
  overflow: hidden;
}

.opened {
  border: 3px solid rgba(var(--yellow-rgb), 0.8);
  animation: shadow-pulse 2s infinite;
  position: fixed;
  width: 95vw;
  height: 95vh;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background-color: var(--blue-4);
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0.7);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(var(--yellow-rgb), 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0);
  }
}

.blog-card-content#details {
  display: none;
  padding: 0px 10% 0px 10%;
}

.show-details {
  display: block !important;
}

.blog-image img {
  max-block-size: 500px;
  border-radius: 10px;
}
